// Colors

$header_bg: rgba(16, 16, 29, 0.9);
$order: #272733;
$header_logo: #42A9ED;
$footer: #3D4050;
$blue_light: #3E9CDC;
$option_hover: #42A9ED;
$white: #fff;
$white_gray: rgba(255, 255, 255, 0.85);
$gray_border: #6F6D7B;
$gray: #2A2B30;
$select_focus: rgba(61, 64, 80, 0.85);